html, body {
      margin: 20;
      padding: 20;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
}

#start {
      padding: 8px 10px;
      font-size: 22px;
      font-weight: bold;
      background: rgba(172, 255, 47, 0.363);
      cursor: pointer;
      border: solid 2px rgb(1, 65, 1);
      outline: none;
}

.grid {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      border: 2px solid black;
      height: 200px;
      width: 200px;
}

.square {
      width: 20px;
      height: 20px;
}

.snake {
      background-color: green;
      
}

.apple {
      background-color: red;
      /* border-radius: 50%; */
}